body{
    font-family: "Plus Jakarta Sans", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

.container
{
    flex: 1;
}
.navbar-nav
{
    height: 4rem;
    display: flex;
    align-items: center;
}
.fa-compass
{
    color: #fe424d;
    font-size: 2rem;
}
.nav-link
{
    color:#222;
}

.footer
{
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.footer .socials
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.footer .terms a{
    color: #222;
    text-decoration: none;

}
.footer .terms a:hover{
    
    text-decoration:underline;

}
.footer .icons i
{
margin: 1.2rem;

}

.listing-card{
    border: none;
    margin-bottom: 2rem; 
}

.card-img-top
{
    border-radius:1rem ;
    width: 100%;
    object-fit: cover;
    height: 20rem;
}

.card-body
{
    padding: 0;
}

.card-text p{
    font-weight: 400;
    
}
.listing-link
{
    text-decoration: none;
}

.card-img-overlay
{
    opacity: 0;
}
.card-img-overlay:hover
{
    background-color: #fff;
    opacity: 0.2;
}

.add-btn
{
    background-color: #fe424d;
    border: none;
}
.edit-btn
{
    background-color: #fe424d;
    border: none;

}

#map {
  width: 85%;
  max-width: 800px;
  height: 400px;
  border-radius: 16px;
  border: 2px solid #eae5e5;
  box-shadow: 0 6px 18px rgba(45, 44, 44, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: block;
  margin: 20px auto;
}

#map:hover {
  transform: scale(1.01);
  box-shadow: 0 10px 30px rgba(45, 45, 45, 0.4);
}

.location-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100% !important;
  margin-left: 0 !important;
}

.location-section h3 {
  font-weight: 700;
  font-family: 'Segoe UI', sans-serif;
  font-size: 18px;
  color: #a22323;
  text-shadow: 1px 1px 2px rgba(205, 30, 30, 0.2);
  margin-bottom: 2px;
}
